
@{
    ViewBag.Title = "Tìm Kiếm Thống Tin";
}
@model IEnumerable<WebTraCuuCamera.Models.Camera_Backup>

<section style="margin:30px">
    <div class="container">
        @using (Html.BeginForm("TimKiemThongTin", "TraCuuCamera", FormMethod.Get)) // -- phần thay đổi
        {
            @*<p>
                    Title: @Html.TextBox("TenDuong") <input type="submit" value="Tìm kiếm" />
                </p>*@

            <div class="form-row py-2">
                <div class="col-md-3 py-1 form-group">
                    <label>Ten Duong</label>
                    @Html.TextBox("TenDuong")
                </div>
                <div class="col-md-3 py-1 form-group">
                    <label>Thoi gian</label>
                    @Html.TextBox("thoi_gian")
                </div>
                <div class="form-group col-md py-1 ">
                    <button type="submit" class="btn btn-primary" asp-action="TimKiemThongTin" asp-controller="TraCuuCamera">Search</button>
                </div>
            </div>


        }

        <div id="main" class="row py-2">
            @foreach (var m in Model)
            {
                <div class="col-md-4 py-1" style="padding:10px">
                    <div class="card shadow h-100" style="border: solid; border-width: 1px;padding:10px; width:">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@m.TenDuong</h5>
                            <p class="card-text">@m.thoi_gian</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

