
@{
    ViewBag.Title = "Tìm Kiếm chi tiết đường";
}
@model IEnumerable<Webadmin.Models.QL.CT_Duong>

<section style="margin:30px">
    <div class="container">
        @using (Html.BeginForm("TimKiemThongTinDuong", "TraCuuChiTietDuong", FormMethod.Get)) // -- phần thay đổi
        {
            @*<p>
                    Title: @Html.TextBox("TenDuong") <input type="submit" value="Tìm kiếm" />
                </p>*@

            <div class="form-row py-2">
                <div class="col-md-3 py-1 form-group">
                    <label>Ten Duong</label>
                    @Html.TextBox("TenDuong")
                </div>
                <div class="form-group col-md py-1 ">
                    <button type="submit" class="btn btn-primary" asp-action="TimKiemThongTinDuong" asp-controller="TraCuuChiTietDuong">Search</button>
                </div>
            </div>


        }

        <div id="main" class="row py-2">
            @foreach (var m in Model)
            {
                <div class="col-md-4 py-1" style="padding:10px">
                    <div class="card shadow h-100" style="border: solid; border-width: 1px;padding:10px; width:">
                        <img style="width:350px" src="https://lh3.googleusercontent.com/G3XVEYOEohLGc7OGt_j7udymCHuZgdR8WTUtwOXIFct4wq8pMflj6jB382AYFgeB29f34j-VG1nxa4X38hBw_xaLJXBb3EQnoS3KdqHp0j905fwen6a-ZjC68lD8e7vxYAQMfPXHcBr9aDmwrRj5e0sVIbS97ViCjjHDfX77HZcy-tDdBUEpcCLynV1h2Xd6X50HV9AdcfIbLcd_7fmwADFpQUvaIRCWmXi8MFgh6p3b97GMXdN7O4NZbMvNnE7DwbmuJL2x_S5A5kIMjsXiawOAc28dfC0m4KJoTKZwlXtcsGY8vOuFBtiOBbU-iZhCG-qCqhT0u0HhtIDny5CPVb4PzeEGvEwxSGPRWmSdoO4ct2P3UsVlX1uCic5Node8bPsipdto0g4yDdE1I5_GH16OWNC6kP_67lu__fFepZnTQe1kXrI6W20aYnYpkGBuYugziSntqslRpIADW5oRo-3XnP3fKKbbTaSZrFSsMxOw2e9Qpt91GOShM9MYMIQN_9Uz87ahjrjBUYqN6-UXKEvQvJR65-Q90aAhWkW3ZcvJ26nu7fHGq5xPexh-kjH4YrZgw0LGfMkJD24q08Bs_ulJmiqz5cYrPdAZDkCxf7Jz1We5ds-SM6li0C_V5pdEyBPsCLOtXSZtMC9VwQSDYwYDttdtkbk3gKu0-c40_eLWAWezWQ6TdaZQ5Iav2g=w624-h325-no?authuser=0" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">@m.name</p>
                            <p class="card-text">@m.phuong</p>
                            <p class="card-text">@m.quan</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

